@import url('https://fonts.googleapis.com/css2?family=Tiro+Bangla:ital@0;1&family=Hind+Siliguri:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-bangla: "Tiro Bangla", serif;
  --font-bangla-sans: "Hind Siliguri", sans-serif;
}

@media print {
  @page {
    size: A4;
    margin: 0;
  }
  body {
    background-color: white;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  .print-hidden {
    display: none !important;
  }
  .print-area {
    width: 210mm !important;
    height: 297mm !important;
    margin: 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
    border: none !important;
    transform: scale(1) !important;
  }
}